/*------------------------------------------------------
  MIXINS
-------------------------------------------------------*/

@color-lighter: #7788AA;
@color-light: #4E638E;
@color-med: #2E4372;
@color-dark: #152A55;
@color-darker: #061639;

@color-danger-lighter: #975F5F;
@color-danger-light: #714141;
@color-danger-med: #6B2B2B;
@color-danger-dark: #5C1919;
@color-danger-darker: #450808;



@color-essence: #ACE3D1;

@color-error: #E03030;
@color-error-bg: #800000;

@color-discovery: #ACE3D1;
@color-discovery-bg: darken(@color-discovery, 20%);

@color-text: white;
@color-link: lighten(@color-lighter, 10%);

@sidebar-width: 25%;

// I love less for this alone
.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@x: 0; @y: 0; @blur: 1px; @spread: 1px; @color: #000;) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.box-shadow-inset(@x: 0; @y: 0; @blur: 1px; @spread: 1px; @color: #000;) {
  -webkit-box-shadow: @arguments inset;
  -moz-box-shadow: @arguments inset;
  box-shadow: @arguments inset;
}

.translate(@x, @y) {
  -webkit-transform: translateX(@x) translateY(@y);
  -moz-transform: translateX(@x) translateY(@y);
  -ms-transform: translateX(@x) translateY(@y);
  -o-transform: translateX(@x) translateY(@y);
  transform: translateX(@x) translateY(@y)
}

.opacity (@opacity: 0.5) {
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  opacity: @opacity;
}

.transition(...) {
  -webkit-transition:@arguments;
  -moz-transition:@arguments;
  -o-transition:@arguments;;
  -ms-transition:@arguments;
  transition:@arguments;
}

.no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pipe-separators() {
  list-style-type: none;
  display: inline;

  &:before {
    content: " | ";
  }

  &:first-child:before {
    content: none;
  }
}

.clear-fix {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

/*------------------------------------------------------
  ACTUAL CSS RULES SORTA
-------------------------------------------------------*/

html {
  min-height: 100%;
}

body {
  color: @color-text;
  background-color: @color-darker;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 105%;
  text-align: center;
  min-height: 100%;
  overflow-y: scroll;
}

div {
  padding: 0;
  margin: 0;
}

a {
  &:link {
    color: darken(@color-link, 10%);
  }

  &:visited {
    color: darken(@color-link, 10%);
  }

  &:hover {
    color: lighten(@color-link, 15%);
  }

  &:active {
    color: lighten(@color-link, 25%);
  }
}

h1 {
  color: lighten(@color-lighter, 20%);
  font-size: 2em;
}

h2 {
  color: @color-lighter;
  font-size: 1.3em;
}

h3 {
  color: @color-lighter;
  font-size: 1.1em;
  text-align: center
}

h4 {
  color: @color-lighter;
  font-size: 0.8em;
  text-align: center
}

#shareWrapper {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
}

#wrapper {
  background-color: @color-dark;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 10px;
  .border-radius(10px);
  height: 100%;
}

pre {
  text-align: left;
}

#game {
  display: none;
}

.section {
  background-color: @color-med;
  .box-shadow-inset(0, 0, 5px, 5px, darken(@color-dark, 2%));
  .border-radius(10px);
  padding: 5px;
  overflow: hidden;
}

.inner-section {
  //border: 2px solid @color-med;
  padding: 5px;
  margin: 5px;
}

.click-passthrough {
  pointer-events: none;
}

#title {
  clear: both;
  .section;

  h1 {
    //text-align: left;
    margin: 0.5em;
  }

  h2 {
    text-align: left;
    margin: 0.5em;
  }
}

#titlebar {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  color: @color-lighter;

  li {
    padding: 0;
    margin: 0;
    .pipe-separators;
  }

  ul {
    padding: 0.5em 0;
    margin: 0.1em 1em;
  }

  font-size: 1.3em;
}

#titlemenu {
  a:link, a:visited {
    color: lighten(@color-lighter, 15%);
  }
  a:hover {
    color: lighten(@color-link, 20%);
  }
}

#subtitlemenu {
  font-size: 0.8em;
}

#contentMenu {

  overflow: hidden;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline;
    //clear: both;
  }

  #tabList {
    float: left;

    li {
      font-weight: bold;
      .pipe-separators;
    }
  }

  #tabButtons {
    float: right;
    width: 26em;
    overflow: auto;
  }
}

#sidebar {
  float: left;
  text-align: left;
  width: @sidebar-width;
  .section;

  table {
    margin-left: auto;
    margin-right: auto;
    background-color: @color-darker;
    border: 1px solid @color-lighter;
    padding: 0.5em;
    overflow: hidden;
    text-align: left;

    h3 {
      padding: .2em;
      width: auto;
      margin: auto;
      text-align: center;
      font-size: 0.9em;
      color: lighten(@color-lighter, 20%);
      border-top: 0.1em dashed @color-lighter;
      border-bottom: 0.1em dashed @color-lighter;
    }
  }

  td {
    font-size: 1.1em;
    padding: 0.1em;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0.5em;
    margin: 0;
  }
}

#status {
  .inner-section;
}

#log {
  .inner-section;
  overflow: hidden;

  h3 {
    display: inline;
  }

  .error {
    color: @color-error;
    text-shadow: 0 0 0.8em @color-error-bg;
  }

  .discovery {
    color: @color-discovery;
    text-shadow: 0 0 0.8em @color-discovery-bg;
  }
}

#resource-essence {
  // fancy schmancy special rule
  text-shadow: 0 0 1em @color-essence;
}

#content {
  .section;
  padding: 0.5em;
}

#tabMessage {
  .inner-section;
  padding: 1.4em;
}

#buttonList {
  .inner-section;
  padding: 1.0em;
}

//////////////////////////////////////////////////////////////
// STATS
//////////////////////////////////////////////////////////////

#statsContainer {
  .inner-section;
  padding: 1.0em;
}

#statsLeftContainer {
  float: left;
  width: 50%;

  table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
    border: 1px solid @color-lighter;
    border-collapse: collapse;
    background: @color-darker;
    //border-spacing: 0;
  }

  td {
    margin: 0;
    font-size: 0.9em;
    padding: 0.2em;
  }
}

#incomeData {
  padding: 0.1em 0.1em 1em;
  border-bottom: 0.1em dashed @color-lighter;

  .oddRow { background: @color-darker; }
  .evenRow { background: lighten(@color-darker, 5%); }
  .essenceGlow {
    text-shadow: 0 0 1em @color-essence;
    background: @color-dark;
  }
}

#generalStats {
  .timeDisplay {
    font-style: italic;
    font-size: 110%;
  }
}

#disposeResource {
  padding: 0.1em 0.1em 0.5em;
  border-bottom: 0.1em dashed @color-lighter;
}

#upgradeList {
  float: right;
  text-align: left;
  margin: auto;
  width: 40%;
  padding: 0.2em 0.2em 0.2em 2em;
  border-left: 0.1em dashed @color-lighter;

  ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0.5em 0.5em 0.5em 0.2em;
    margin: 0;
  }
}

//////////////////////////////////////////////////////////////
// RECYCLER
//////////////////////////////////////////////////////////////

#recyclerContainer {
  margin: 0 auto;
  overflow: hidden;
  width: 40em;
}

#inputButtons {
  float: left;
  margin: auto;
  min-width: 14em;
}

#junkDisplay {
  position: relative;
  float: left;
  margin: auto;
  width: 10em;
  background-color: @color-danger-darker;
  color: lighten(@color-danger-lighter, 30%);
  border: 0.1em solid @color-danger-lighter;
  padding: 0.2em;
  z-index: 5;
}

#outputButtons {
  float: left;
  margin: auto;
  min-width: 14em;
}

//////////////////////////////////////////////////////////////
// MAIN I THINK
//////////////////////////////////////////////////////////////

#tabBorder {
  border-bottom: 0.5em double @color-light;
}

button {
  background-color: @color-light;
  color: @color-text;

  .border-radius(10px);
  border: 2px solid @color-lighter;

  padding: 10px;
  margin: 1% auto;
  cursor: pointer;
  display: block;
  min-width: 12em;
  .no-select();

  font-size: 90%;
  vertical-align: middle;

  &.min {
    padding: 0.1em;
    margin: 1%;
    min-width: 0;
    width: auto;
    display: inline;
    float: right;
  }

  &.min-block {
    padding: 0.1em;
    margin: auto;
    min-width: 0;
    vertical-align: super;
  }

  &:hover {
    //background-color: @highlight-color;
    //color: @super-highlight;
    .box-shadow(0px, 0px, 2px, 2px, @color-lighter);
  }

  &:active {
    background-color: @color-dark;
    color: @color-light;
    .box-shadow-inset(0px, 3px, 7px, 7px, @color-darker);

    .medDesc {
      font-size: 80%;
      color: darken(@color-lighter, 20%);
    }
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    background-color: darken(@color-darker, 5%);
    color: @color-med;
    cursor: default;
    border-color: @color-med;

    &:hover {
      box-shadow: none;
    }

    &:active {
      box-shadow: none;
    }

    .medDesc {
      font-size: 80%;
      color: darken(@color-lighter, 30%);
    }

  }
}

.button-icon {
  vertical-align: middle;
  display: inline-block;
}



#overlay {
  .opacity(0.5);
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  z-index: 10;
}

.smallDesc {
  font-size: 60%;
  color: @color-lighter;
  .click-passthrough;
}

.smallDescAllowClicks {
  .smallDesc;
  pointer-events: auto;
}

.medDesc {
  font-size: 80%;
  color: lighten(@color-lighter, 30%);
  .click-passthrough;
}

.copyrightNotice {
  font-size: 80%;
  color: lighten(@color-lighter, 30%);
}

#pane {

  background-color: @color-dark;
  .box-shadow-inset(0, 0, 5px, 5px, darken(@color-darker, 2%));
  .border-radius(10px);
  padding: 1em 2em;
  margin: auto;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%, -50%);
  border: double @color-med;
  max-height: 90%;

  z-index: 11;

  h2 {
    padding-bottom: 0.5em;
    //border-bottom: 0.4em double @color-med;
  }

  #paneHeaderEnd {
    border-bottom: 0.5em double @color-med;
  }

  #paneHeaderTitleDiv {
    vertical-align: middle;
    float: left;
    display: inline;
    text-align: left;
    h3 {
      display: inline;
    }

  }

  #paneHeaderCloseButtonDiv {
    vertical-align: middle;
    float: right;
    display: inline;
    text-align: right;

    button {
      display: inline;
      width: auto;
    }
  }

  #paneHeaderCloseButton {
    margin: auto;
    float: none;
    min-width: 0;
  }

  table {
    margin: auto;
    text-align: left;
    white-space: nowrap;
  }

  .option-button {
    min-width: 0;
    width: 4em;
  }

  .paneContentDiv {
    border-bottom: 0.4em double @color-med;
  }

  #changelogDiv {
    text-align: left;

    h3 {
      text-align: left;
    }
  }

  #optionLabel {
    width: 20em;
  }

  #endCredits {
    font-size: 90%;
  }
}

