{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true
    },
    "extends": ["eslint:recommended", "prettier", "prettier/standard"],
    "parserOptions": {
        "ecmaVersion": 12
    },
    "globals": {
        "_": "readonly",
        "$": "readonly",
        "ascii85": "readonly",
        "pako": "readonly",
        "SharkGame": "readonly",

        "r": "readonly",
        "m": "readonly",
        "y": "readonly",
        "g": "readonly",
        "s": "readonly",
        "w": "readonly",
        "h": "readonly"
    },
    "ignorePatterns": ["js/lib/**", "js/fallback/**", "js/reference/**", "js/menu/**"],
    "rules": {
        "no-unused-vars": [
            "error",
            {
                "varsIgnorePattern": "(?:^__.{1,})|(?:[^$_]$)",
                "argsIgnorePattern": "(?:^_.{1,})|(?:^.$)"
            }
        ],
        "func-names": ["error", "always"],
        "func-style": ["error", "declaration"],
        "no-inner-declarations": "off",
        "prefer-const": "error",
        "no-var": "error",
        "no-shadow": "error"
    }
}
